<%= form_for(asignatura) do |f| %>
  <% if asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asignatura.errors.count, "error") %> prohibited this asignatura from being saved:</h2>

      <ul>
      <% asignatura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nomasi %>
    <%= f.text_field :nomasi %>
  </div>

  <div class="field">
    <%= f.label :numasi %>
    <%= f.text_field :numasi %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
