<p id="notice"><%= notice %></p>

<p>
  <strong>Nom1:</strong>
  <%= @acudiente.nom1 %>
</p>

<p>
  <strong>Nom2:</strong>
  <%= @acudiente.nom2 %>
</p>

<p>
  <strong>Ape1:</strong>
  <%= @acudiente.ape1 %>
</p>

<p>
  <strong>Ape2:</strong>
  <%= @acudiente.ape2 %>
</p>

<%= link_to 'Edit', edit_acudiente_path(@acudiente) %> |
<%= link_to 'Back', acudientes_path %>
