<p id="notice"><%= notice %></p>

<p>
  <strong>Idgru:</strong>
  <%= @encnotum.grupo_id %>
</p>

<p>
  <strong>Idcu:</strong>
  <%= @encnotum.curso_id %>
</p>

<p>
  <strong>Idasi:</strong>
  <%= @encnotum.asignatura_id %>
</p>

<p>
  <strong>Iddoce:</strong>
  <%= @encnotum.docente_id %>
</p>

<p>
  <strong>Idpe:</strong>
  <%= @encnotum.periodo_id %>
</p>

<%= link_to 'Edit', edit_encnotum_path(@encnotum) %> |
<%= link_to 'Back', encnota_path %>
