<p id="notice"><%= notice %></p>

<p>
  <strong>Grupo:</strong>
  <%= @grupo.grupo %>
</p>

<p>
  <strong>Idcu:</strong>
  <%= @grupo.curso_id %>
</p>

<%= link_to 'Edit', edit_grupo_path(@grupo) %> |
<%= link_to 'Back', grupos_path %>
