<p id="notice"><%= notice %></p>

<p>
  <strong>Nota1:</strong>
  <%= @notum.nota1 %>
</p>

<p>
  <strong>Nota2:</strong>
  <%= @notum.nota2 %>
</p>

<p>
  <strong>Nota3:</strong>
  <%= @notum.nota3 %>
</p>

<%= link_to 'Edit', edit_notum_path(@notum) %> |
<%= link_to 'Back', nota_path %>
