<p id="notice"><%= notice %></p>

<h1>Jornadas</h1>

<table>
  <thead>
    <tr>
      <th>Jornada</th>
      <th>Idgru</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jornadas.each do |jornada| %>
      <tr>
        <td><%= jornada.jornada %></td>
        <td><%= jornada.grupo_id %></td>
        <td><%= link_to 'Show', jornada %></td>
        <td><%= link_to 'Edit', edit_jornada_path(jornada) %></td>
        <td><%= link_to 'Destroy', jornada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jornada', new_jornada_path %>
