<p id="notice"><%= notice %></p>

<p>
  <strong>Telefono:</strong>
  <%= @telefono.telefono %>
</p>

<p>
  <strong>Idnom:</strong>
  <%= @telefono.estudiante_id %>
</p>

<p>
  <strong>Iddoce:</strong>
  <%= @telefono.docente_id %>
</p>

<%= link_to 'Edit', edit_telefono_path(@telefono) %> |
<%= link_to 'Back', telefonos_path %>
