<p id="notice"><%= notice %></p>

<p>
  <strong>Idasi:</strong>
  <%= @pensum.asignatura_id %>
</p>

<p>
  <strong>Idcu:</strong>
  <%= @pensum.asignatura_id %>
</p>

<p>
  <strong>Fechai:</strong>
  <%= @pensum.fechai %>
</p>

<p>
  <strong>Fechaf:</strong>
  <%= @pensum.fechaf %>
</p>

<%= link_to 'Edit', edit_pensum_path(@pensum) %> |
<%= link_to 'Back', pensums_path %>
