<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @usuario.numero %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @usuario.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @usuario.estado %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
