<p id="notice"><%= notice %></p>

<h1>Dtnota</h1>

<table>
  <thead>
    <tr>
      <th>Idnom</th>
      <th>Taller</th>
      <th>Quiz</th>
      <th>Examen</th>
      <th>Seguimiento</th>
      <th>Idencnotas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dtnota.each do |dtnotum| %>
      <tr>
        <td><%= dtnotum.idnom %></td>
        <td><%= dtnotum.taller %></td>
        <td><%= dtnotum.quiz %></td>
        <td><%= dtnotum.examen %></td>
        <td><%= dtnotum.seguimiento %></td>
        <td><%= dtnotum.idencnotas %></td>
        <td><%= link_to 'Show', dtnotum %></td>
        <td><%= link_to 'Edit', edit_dtnotum_path(dtnotum) %></td>
        <td><%= link_to 'Destroy', dtnotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dtnotum', new_dtnotum_path %>
